<h1>Meus Imóveis</h1>

<% if @properties.empty? %>
  <div>
    <p>Você ainda não cadastrou imóveis</p>
    <p><%= link_to 'Cadastre seu primeiro imóvel agora', new_property_path %></p>
  </div>
<% else %>
  <% @properties.each do |p| %>
    <%= render p %>
  <% end %>
<% end %>